; copy–paste this file into `secret.ini` and fill the proper values
[secret]

wifi1_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi1_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD

wifi2_ssid = CHANGE_ME_TO_THE_REAL_SSID
wifi2_password = CHANGE_ME_TO_THE_REAL_WIFI_PASSWORD

ws_host = CHANGE_ME_TO_REAL_HOST
ws_port = CHANGE_ME_TO_REAL_PORT
ws_path = CHANGE_ME_TO_REAL_PATH